# Maven build
**/target/

# IntelliJ IDEA
/.idea
*.iml

# Eclipse
**/.metadata/
**/.recommenders/
**/.settings/
**/.project/
**/.classpath
/02_conways-game-of-life/GameOfLife/build/
/02_conways-game-of-life/GameOfLife/dist/
/02_conways-game-of-life/GameOfLife/nbproject/private/